{% extends 'base.html' %}

{% block content %}
<section class="container">
    <a type="button" class="btn btn-dark" href="{% url 'crud:create' %}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        리뷰 작성
    </a>
    <table class="table my-2">
        <thead class="text-bg-dark">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</section>
{% endblock %}