{% extends 'base.html' %}

{% block content %}
<form action="{% url 'crud:updated' review.pk %}">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">제목</label>
      <input type="text" class="form-control" name="title_updated" value="{{ review.title }}">
  </div>
  <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">내용</label>
      <input type="text" class="form-control" name="content_updated" value="{{ review.content }}">
  </div>
  <div class="col-1">
      <input class="btn btn-primary btn-sm" type="submit" value="제출">
  </div>
</form>
{% endblock %}